.balance{
    padding: 20px 0 10px 0;
}

.balance p{
    font-weight: 600;
    font-size: 14px;
    position: relative;
    bottom: -5px;
}


@media screen and (max-width: 400px){
    .balance p{
        bottom: 0;
    }
}