.income-expense{
    background-color: white;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    box-shadow: 0 0 10px 1px rgb(211, 211, 211);
    text-align: center;
}

.income-expense p{
    font-weight: 700;
    font-size: 14px;
    position: relative;
}

.income, .expense{
    width: 50%;
    justify-content: center;
    align-items: center;
}

.income h3{
    color: rgb(20, 177, 59);
}

.expense h3{
    color: rgb(221, 40, 40);
}