.container{
  background-color: rgb(247, 242, 242);
  width: 400px;
  margin: 10px auto;
  padding: 10px 50px;
  /* position: relative;
  z-index: -1; */
}


@media screen and (max-width: 400px){
  .container{
    width: 100%;
    margin-top: 0;
  }
}